.todo-container {
  width: 270px;
  /* height: 150px; */
  border: 4px solid black;
  border-radius: 12px;
  padding: 12px 24px 24px 24px;
}

.button-set {
  display: flex;
  gap: 10px;
  margin-top: 24px;
}

.button {
  border: none;
  width: 50%;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
}

.todo-delete-button {
  border: 2px solid red;
  background-color: red;
  color: white;
}

.todo-complete-button {
  border: 2px solid blue;
  background-color: blue;
  color: white;
}
